body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    margin: 0;
}
/**
 * Profile image component
 */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 54px;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #1890ff;
}

.profile-header {
    margin-top: 43px;
}


.rank-label-container {
    margin-top: -19px;
     z-index: 1000; 
    text-align: center;
}

.label.label-default.rank-label {
    background-color: rgb(24, 144, 255);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}

.accounts-list:hover{

    background-color:rgb(24, 144, 255); 
}

.account-change-cursor:hover{
    cursor: pointer;
}

  .wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
  }